{{ if eq .chezmoi.osRelease.versionID "rodete" }}
alias mdformat=/google/data/ro/teams/g3doc/mdformat
alias pastebin=/google/src/head/depot/eng/tools/pastebin
alias copybara=/google/bin/releases/copybara/public/copybara/copybara
alias tmux=tmx2
alias freshg4='g4 revert //...; g4 sync; clear'
alias freshhg='hg revert -all; hg sync; clear'
{{ end }}
alias killchrome='killall -s SIGKILL chrome'
alias freshgit='git clean -fdx . ; git pull --rebase ; git submodule update --init --recursive ; clear'
