{{ if eq .chezmoi.osRelease.versionID "rodete" }}
alias mdformat=/google/data/ro/teams/g3doc/mdformat
alias pastebin=/google/src/head/depot/eng/tools/pastebin
alias copybara=/google/bin/releases/copybara/public/copybara/copybara
alias tmux=tmx2
{{ else if (contains "redondo" .chezmoi.hostname) }}
alias tmux="${HOME}/miniconda3/bin/tmux"
{{ end }}
alias killchrome='killall -s SIGKILL chrome'
