{{- if (contains ".goog" .chezmoi.fqdnHostname) }}
alias bluze=/google/bin/releases/blueprint-bluze/public/bluze
alias code='code --disable-gpu'
alias copybara=/google/bin/releases/copybara/public/copybara/copybara
alias dcgen=/google/bin/releases/ganeti-sre/cli/dcgen
alias mdformat=/google/data/ro/teams/g3doc/mdformat
alias pastebin=/google/src/head/depot/eng/tools/pastebin
alias edafarm_cli=/google/data/ro/teams/edafarm/edafarm_cli
alias edacloud=/google/bin/releases/englab-eda/cli/edacloud
alias tmux=tmx2
alias verilog-format=/google/bin/releases/platforms-ci2-verible/verible-verilog-format
alias verilog-lint=/google/bin/releases/platforms-ci2-verible/verible-verilog-lint
{{- end }}
alias killchrome='killall -s SIGKILL chrome'

alias df='df --human-readable'
alias du='du --human-readable'

alias l='less -RS'
alias m='less -RS'
alias more='less -RS'
alias less='less -RS'

alias h='history'
alias hgrep='history | grep -i'
alias cls='clear'

alias f='find'

alias g='egrep --ignore-case --color=auto'
alias grep='egrep --color=auto'
alias rg='rg --no-ignore'

alias j='jobs -l'

alias vi='vim'
alias gi='gvim'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias dir='ls'
alias ls='ls --color=auto'
alias ll='ls -l'
alias la='ls -A'
alias lr='ls -R'
alias lt='ls --human-readable --size -1 -S --classify'

alias gl='git log --pretty=format:"%h%x09%an%x09%ad%x09%s" --date=short'

# Removes directory from stack and print
alias o='popd -n && dirs -v'

# Displays directory stack
alias dirs='dirs -v'

# Clears directory stack
alias popa='dirs -c'
