{{- if (contains "google" .chezmoi.homeDir) }}
[http]
	cookiefile = /usr/local/google/home/ecote/.gitcookies
{{- end }}

[user]
	name = Edmond Cote
{{- if (contains "google" .chezmoi.homeDir) }}
	email = ecote@google.com
{{- else }}
	email = edmond.cote@gmail.com
{{- end }}
[color]
	ui = auto
[core]
	editor = vim
[repo]
	superprojectChoiceExpire = 1632767310
	superprojectChoice = false
[pull]
	rebase = true
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = vimdiff
	path = /usr/bin/vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = /usr/bin/vimdiff
[mergetool]
	prompt = false
[alias]
	untracked = ls-files --exclude-standard --others
	ignored = ls-files --exclude-standard --others --ignored
	amend = commit --amend --no-edit
	reword = commit --amend
	upload = "!git push $(git remote -v | head -1 | awk '{print $1}') HEAD:refs/for/$(git rev-parse --abbrev-ref HEAD)"
