# ~/.bashrc: executed by bash(1) for non-login shells.

# If not running interactively, don't do anything
case $- in
  *i*) ;;
    *) return;;
esac

[[ -f "${HOME}/.bash_aliases" ]]   && source "${HOME}/.bash_aliases"
[[ -f "${HOME}/.bash_functions" ]] && source "${HOME}/.bash_functions"

# Shell Options
################

# Don't wait for job termination notification
set -o notify

# Don't use ^D to exit
set -o ignoreeof

# Use case-insensitive filename globbing
shopt -s nocaseglob

# When changing directory small typos can be ignored by bash
# for example, cd /vr/lgo/apaache would find /var/log/apache
shopt -s cdspell

# Replaces directory names with result of expansion on tab complete
shopt -s direxpand

# Check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# Match all files in subdirectories with **
shopt -s globstar

# History Options
##################

# Don't put duplicate lines in the history and clean up meaningless whitespace
export HISTCONTROL=ignoreboth:erasedups

# Ignore some controlling instructions
export HISTIGNORE="[   ]*:&:bg:fg:exit:ll:ls*"

# Whenever displaying the prompt, write the previous line to disk
export PROMPT_COMMAND="history -a"

# Apend to the history file, don't overwrite it
shopt -s histappend

# Store multiline shell commands
shopt -s cmdhist

# Allow larger .bash_history file
HISTSIZE=2000
HISTFILESIZE=2000

# Terminal Options
###################

# Override terminal type set by tmux
case "${TERM}" in
  xterm*)
    export TERM="xterm-256color"
    ;;
esac

# Enable color terminal
case "${TERM}" in
  *color)
    color_prompt="yes"
    ;;
esac
if [[ "${color_prompt}" == "yes" ]]; then
  PS1="${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ "
else
  PS1="${debian_chroot:+($debian_chroot)}\u@\h:\w\$ "
fi
unset color_prompt

# Enable bash-git-prompt
{{- if not (contains "whi" .chezmoi.hostname) }}
GIT_PROMPT_ONLY_IN_REPO=1
GIT_PROMPT_THEME=Single_line_Minimalist_Ascii
GIT_PROMPT_SHOW_UNTRACKED_FILES=no
source "${HOME}/.bash_git_prompt/gitprompt.sh"
{{- end }}

# Enable programmable completion features
if [[ -f /usr/share/bash-completion/bash_completion ]]; then
  source /usr/share/bash-completion/bash_completion
elif [[ -f /etc/bash_completion ]]; then
  source /etc/bash_completion
fi

# Environment Options
######################

export EDITOR=vim
export VISUAL=vim

# Shorten paths in prompt
PROMPT_DIRTRIM=4

{{- if (contains "google" .chezmoi.homeDir) }}
pathadd ${HOME}/hls_infra_tools/common/tools
{{- if eq .chezmoi.osRelease.versionID "rodete" }}
gcertstatus --nocheck_ssh &>/dev/null || (echo "WARNING: LOAS2 certificate expired" >& 2)
export P4DIFF=diff
{{- end }}
{{- end }}

pathadd ${HOME}/go/bin
pathadd ${HOME}/.local/bin
pathadd ${HOME}/bin
