Host *
ServerAliveInterval 5
ExitOnForwardFailure yes

Host *.edmondcote.com
    User edc
    IdentityFile ~/.ssh/my_very_secure_key

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/my_very_secure_key

{{- if (contains "corp.google.com" .chezmoi.fqdnHostname) }}
Host *
  CanonicalizePermittedCNAMEs *cw.edafarm.goog:*gcpnode.com

Host jean
  HostName jean.cw.edafarm.goog
  User ecote
{{- end }}
