{{- if (not (eq .chezmoi.fqdnHostname "nana" "pepe")) }}
Host nana.edmondcote.com
    HostName nana.edmondcote.com
    User edc
    IdentityFile ~/.ssh/my_very_secure_key

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/my_very_secure_key
{{- end }}

{{- if (contains "corp.google.com" .chezmoi.fqdnHostname) }}
Host enclave
  HostName nic0.redondo-us-cbf-desktop-ecote-0.us-central1-b.c.gchips-redondo-us.internal.gcpnode.com
  User ecote

Host hls-fpga*mtv.corp.google.com
    User ecote
    User seanhaskell
    IdentityFile ~/.ssh/hls_fpga_node
{{- end }}
