{
  // Blaze
{{ if eq .chezmoi.osRelease.versionID "rodete" }}
  "blaze.ciderd.enable": true,
  "blaze.ciderd.machineId": "wilfrid.mtv.corp.google.com",
  "editor.defaultFormatter": "google.g3",
  "[cpp]": {
    "editor.defaultFormatter": "google.lsp",
  },
  "[python]": {
    "editor.defaultFormatter": "google.lsp",
  },
  "[json]": {
    "editor.defaultFormatter": "google.lsp",
  },
{{ end }}

  // Bazel
{{ if eq .chezmoi.osRelease.versionID "rodete" }}
  "bazel.executable": "/usr/bin/bazel",
  "bazel.buildifierExecutable": "/usr/bin/buildifier",
{{ else if (contains "google" .chezmoi.homeDir) }}
  "bazel.executable": "/usr/local/google/home/ecote/go/bin/bazelisk",
  "bazel.buildifierExecutable": "/usr/local/google/home/ecote/go/bin/buildifier",
{{ else }}
  "bazel.executable": "/home/edc/go/bin/bazelisk",
  "bazel.buildifierExecutable": "/home/edc/go/bin/buildifier",
{{ end }}
  "bazel.buildifierFixOnFormat": true,

  // ms-python.python
{{ if (contains "redondo" .chezmoi.hostname) }}
  "python.formatting.provider": "yapf",
  "python.formatting.yapfPath": "/google/gchips/tools/google/pyformat/20211229/pyformat",
  "python.formatting.yapfArgs": [],
{{ else if (contains "google" .chezmoi.homeDir) }}
  "python.formatting.provider": "yapf",
  "python.formatting.yapfPath": "/usr/bin/pyformat",
  "python.formatting.yapfArgs": [],
{{ else  }}
  "python.formatting.provider": "yapf",
  "python.formatting.yapfPath": "yapf",
  "python.formatting.yapfArgs": [],
{{ end }}
  "[python]": {
    "editor.defaultFormatter": "ms-python.python"
  },

  // eirikpre.systemverilog
{{ if (contains "redondo" .chezmoi.hostname) }}
  "systemverilog.disableIndexing": true,
  "systemverilog.formatCommand": "/google/gchips/tools/google/verible/496600639/verible-verilog-format",
  "systemverilog.launchConfigurationVerible": "/google/gchips/tools/google/verible/496600639/verible-verilog-lint",
{{ end }}
  "systemverilog.compilerType": "Verible",
  "[systemverilog]": {
    "editor.defaultFormatter": "eirikpre.systemverilog"
  },

  // golang.go
  "[go]": {
    "editor.defaultFormatter": "golang.go"
  },

  // git
{{ if (contains "redondo" .chezmoi.hostname) }}
  "git.autorefresh": false,
  "git.autoRepositoryDetection": false,
{{ end }}

  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.tabSize": 2,
  "editor.useTabStops": false,
  "editor.renderWhitespace": "trailing",
  "editor.fontFamily": "'Terminus (TTF)', 'Droid Sans Mono', monospace",
  "editor.fontLigature": false,
  "editor.minimap.enabled": false,

  "files.autoSave": "onFocusChange",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "files.associations": {
    "*.svp": "systemverilog",
  },

  "security.workspace.trust.untrustedFiles": "open",

  "terminal.integrated.allowChords": false,

  "telemetry.telemetryLevel": "off",

  "workbench.settings.enableNaturalLanguageSearch": false,
  "workbench.enableExperiments": false,
  "workbench.colorTheme": "Visual Studio Dark",
  "workbench.startupEditor": "none",

  // Extension settings
  "extensions.ignoreRecommendations": true,
  "extensions.autoUpdate": false,

  // vscodevim.vim
  "vim.autoindent": false,
  "vim.cursorStylePerMode.insert": "line",
  "vim.cursorStylePerMode.normal": "block",
  "vim.cursorStylePerMode.replace": "block-outline",
  "vim.cursorStylePerMode.visual": "block",
  "vim.cursorStylePerMode.visualblock": "block",
  "vim.highlightedyank.enable": true,
  "vim.hlsearch": true,
  "vim.mouseSelectionGoesIntoVisualMode": false,
  "vim.statusBarColorControl": true,
  "vim.useSystemClipboard": true,
  "vim.handleKeys": {
    "<Up>": true,
    "<Down>": true,
    "<Left>": true,
    "<Right>": true,
    "<C-y>": true,
    "<C-z>": true,
    "<C-b>": false,
    "<C-v>": true,
  },
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "before": ["u"],
      "after": [],
      "commands": [
        {
          "command": "undo",
          "args": []
        }
      ]
    },
    {
      "before": ["<C-r>"],
      "after": [],
      "commands": [
        {
          "command": "redo",
          "args": []
        }
      ]
    }
  ],
  "vim.visualModeKeyBindings": [
    {
      "before": ["<leader>", "/"],
      "commands": ["editor.action.commentLine"],
      "when": "editorTextFocus && !editorReadonly"
    }
  ],

  // redhat.vscode-xml
  "redhat.telemetry.enabled": false,
  "xml.format.splitAttributes": true,
  "[xml]": {
    "editor.defaultFormatter": "redhat.vscode-xml"
   },
}
