{
{{ if eq .chezmoi.osRelease.versionID "rodete" }}
    "bazel.executable": "/usr/bin/bazel",
    "bazel.buildifierExecutable": "/usr/bin/buildifier",
    "bazel.buildifierFixOnFormat": true,
{{ else if (contains "google" .chezmoi.homeDir) }}
    "bazel.executable": "/usr/local/google/home/ecote/go/bin/bazelisk",
    "bazel.buildifierExecutable": "/usr/local/google/home/ecote/go/bin/buildifier",
    "bazel.buildifierFixOnFormat": true,
{{ else }}
    "bazel.executable": "/home/edc/go/bin/bazelisk",
    "bazel.buildifierExecutable": "/home/edc/go/bin/buildifier",
    "bazel.buildifierFixOnFormat": true,
{{ end }}

    "files.autoSave": "onFocusChange",
    // End text files with newline
    "files.insertFinalNewline": true,
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,

    "terminal.integrated.allowChords": false,

    "vim.autoindent": false,
    "vim.cursorStylePerMode.insert": "line",
    "vim.cursorStylePerMode.visualblock": "block",
    "vim.hlsearch": true,
    "vim.useSystemClipboard": true,
    "vim.statusBarColorControl": true,
    "vim.mouseSelectionGoesIntoVisualMode": false,
    "vim.cursorStylePerMode.normal": "block",
    "vim.cursorStylePerMode.visual": "block",
    "vim.cursorStylePerMode.replace": "block-outline",
    "vim.highlightedyank.enable": true,

    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2,
    "editor.useTabStops": false,
    "editor.renderWhitespace": "trailing",
    "editor.fontFamily": "'Terminus (TTF)', 'Droid Sans Mono', monospace",
    "editor.fontLigature" false,
    "editor.minimap.enabled": false,

    "workbench.settings.enableNaturalLanguageSearch": false,
    "workbench.enableExperiments": false,
    "workbench.colorTheme": "Visual Studio Dark",

    "security.workspace.trust.untrustedFiles": "open",

    "telemetry.telemetryLevel": "off",

    "extensions.ignoreRecommendations": true,
    "extensions.autoUpdate": false,
}
